@media screen and (max-width : 1080px) {
    .main_content{
        grid-column: 1 / 6;
    }
    .floor{
        grid-column: 1 / 6;
    }
    .bricks_right{
        display: none;
    }
    .background{
        display: none;
    }
    .main_content{
        grid-template-columns: minmax(5px,20px) minmax(500px,1200px);
    }
    .right_background_wall, .window{
        display: none;
    }
    .footer{
        grid-column: 1 / 6;
    }
    .header{
        background: url("../Image/roof/roof_mobile.png");
        background-size: 100% 100%;
    }
    .wrap_main{
        grid-template-rows: 300px 1395px 100px;
        width: 100%;
    }
    .main{
        grid-template-rows: 35px 650px 35px 650px 35px;
        grid-column: 1 / 3;
    }
    .floor2{
        background: url(../Image/floor_two/2.png);
        background-size: 200px 200px;
    }
    .slide-1{
        background: url(../Image/floor_two/2.png);
        background-size: 200px 200px;
    }
    .slide-2{
        background: url(../Image/floor_one/main_background_floor.png);
        background-size: 100px 100px;
    }
    .slide-3{
        background: url(../Image/floor_three/bg.png);
        background-size: 100px 100px;
    }
    .text_social {
        font-size: 34px;
    }
    .text_a {

        font-size: 26px;
    }
}